<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@customer.add.headline">Add Customer</h1>
    <div>
        <a routerLink="/customers" class="btn btn-secondary" i18n="@@customer.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="name" i18n-label="@@customer.name.label" label="Name" />
    <app-input-row [group]="addForm" field="age" rowType="number" i18n-label="@@customer.age.label" label="Age" />
    <input type="submit" i18n-value="@@customer.add.headline" value="Add Customer" class="btn btn-primary mt-4" />
</form>
